<%- include("./top.html") %>
<%- include("./side.html") %>
<link rel="stylesheet" href="/css/back-add.css">

<div class="common-back-content" id="add" v-cloak>
	<div class="back-main">
		<div class="h1">新增商品</div>
		<div class="content">
			<div class="block">
				<span class="left"><span class="red">*</span>标题：</span>
				<input class="right from-col" v-model.trim="edit.title" type="text" >
			</div>
			<div class="block">
				<span class="left">所属标签：</span>
				<select class="right from-col" v-model.trim="edit.tagid" style="height:35px;">
					<option value="">请选择</option>
					<option :value="item.id" v-for="item in tagsDatas">{{item.tagname}}</option>}
				</select>
			</div>
			<div class="block">
				<span class="left">作者：</span>
				<input class="right from-col" v-model.trim="edit.author" type="text" placeholder="zane">
			</div>
			<div class="block">
				<span class="left">上下架：</span>
				<select class="right from-col" v-model.trim="edit.isOnline" style="height:35px;">
					<option value="">请选择</option>
					<option value="1" >上架</option>
					<option value="0" >下架</option>
				</select>
			</div>
			<div class="block">
				<span class="left">浏览量：</span>
				<input class="right from-col" v-model.trim="edit.browse" type="text" >
			</div>
			<div class="block">
				<span class="left">描述：</span>
				<textarea class="right from-col" v-model.trim="edit.describes" rows="4"></textarea>
			</div>
			<div class="block">
				<span class="left"><span class="red">*</span>正文：</span>
				<div class="right">
					<div id="editor"></div>
				</div>
			</div>
			<div class="block tijiao">
				<button class="submit" type="button" @click="submit">发表商品</button>
				<button class="default" type="button" onclick="history.back()">取消</button>
			</div>
		</div>
	</div>
</div>
<script src="//cdn.bootcss.com/wangEditor/3.0.8/wangEditor.min.js"></script>
<script src="/js/back-add.js"></script>




