<style>
html,body {
    background:#67ACE4 url("/images/404/error_bg.jpg");
}
#container {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    max-width: 100%;
}
#container img {
    border: medium none;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
#container .error {
    height: 200px;
    position: relative;
}
#container .error img {
    bottom: -50px;
    position: absolute;
    right: -50px;
}
#container .msg {
    margin-bottom: 65px;
}
#cloud {
    background: url("/images/404/error_cloud.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 170px;
    position: absolute;
    width: 100%;
}
</style>

<div id="container">
    <img class="png" src="/images/404/404.png" />
    <img class="png msg" src="/images/404/404_msg.png" />
    <p><a href="/"><img class="png" src="/images/404/404_to_index.png" /></a> </p>
</div>

<div id="cloud" class="png"></div>

