<!DOCTYPE html>
<html>
    <head>
        <title><%= datas.title %></title>
        <meta name="baidu-site-verification" content="MHHnqSmeTw" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="/images/common/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/PopLayer.css">
        <script src="/js/jquery-2.1.4.min.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <!--replace:main.js-->
        <script src="/js/PopLayer.js"></script>
        <script src="/js/config.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/md5.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/resize.js"></script>
        <script src="/js/fastclick.js"></script>
        <!--endreplace-->

    </head>
    <body id="body">
        <%- body %>
    </body>
</html>