@charset "UTF-8";
/*CSS Reset*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*设置字体*/
/*字体结束*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑'; }

body {
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearence: none;
  -ms-appearence: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none; }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  outline: 0;
  color: #2479CC;
  text-decoration: none; }

a:hover {
  color: #2479CC; }

em, i {
  font-style: normal; }

iframe {
  display: none; }

::-webkit-input-placeholder {
  color: #999; }

.center {
  vertical-align: middle;
  text-align: center; }

.user_select {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#loading {
  display: block;
  background: url(/images/common/loading-2.gif) rgba(0, 0, 0, 0.5) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000; }

.clearfix {
  clear: both; }

html, body {
  color: #333 !important;
  background: #f4f4f4; }

a:hover {
  text-decoration: none; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.fl {
  float: left; }

.fr {
  float: right; }

.inline-block {
  display: inline-block !important; }

.cursor {
  cursor: pointer; }

.w-50 {
  width: 50px; }

.w-80 {
  width: 80px; }

.w-100 {
  width: 100px; }

.w-150 {
  width: 150px; }

.w-250 {
  width: 250px; }

.w-300 {
  width: 300px; }

.overflow {
  overflow: hidden; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

.mr10 {
  margin-right: 10px; }

.mt15 {
  margin-top: 15px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.bold {
  font-weight: bold; }

.red {
  color: red; }

.black {
  color: #000; }

.bl555 {
  color: #555; }

.mainlink {
  color: #2479CC; }

@font-face {
  font-family: 'iconfont';
  /* project id 407732 */
  src: url("//at.alicdn.com/t/font_407732_84blznwg452ep14i.eot");
  src: url("//at.alicdn.com/t/font_407732_84blznwg452ep14i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_407732_84blznwg452ep14i.woff") format("woff"), url("//at.alicdn.com/t/font_407732_84blznwg452ep14i.ttf") format("truetype"), url("//at.alicdn.com/t/font_407732_84blznwg452ep14i.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  vertical-align: middle; }

/*回到顶部CSS*/
#hddb {
  width: 40px;
  height: 40px;
  background: url(/images/common/totop.png) no-repeat left top;
  background-size: 100% 100%;
  position: fixed;
  right: 10px;
  bottom: 50px;
  display: none;
  cursor: pointer;
  z-index: 100; }

code {
  color: #a9a9a9;
  background: #eee;
  padding: .04rem .06rem;
  border: solid 1px #eee;
  margin: 0 .05rem; }

.side {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #252736 url(http://ormfcl92t.bkt.clouddn.com/fbpXxGM2EpnGtRXj6yT5w8YhABzpDDM3.png);
  color: #8e8e8e;
  z-index: 10002; }
  .side a {
    color: #8e8e8e; }
  .side .iconfont, .side a.iconfont {
    color: #7f7f7f; }
  .side .top {
    background-size: 100% auto;
    text-align: center; }
    .side .top .logo {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      margin-top: .4rem; }
      .side .top .logo img {
        width: 100%;
        height: 100%; }
    .side .top .name {
      font-size: .18rem;
      margin-top: .13rem;
      margin-bottom: .1rem; }
    .side .top .text {
      font-size: .14rem;
      color: #676767; }
  .side .nav {
    margin-top: .2rem;
    overflow: hidden; }
    .side .nav:before {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      background: #000; }
    .side .nav:after {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      background: #444; }
    .side .nav li {
      border-top: solid 1px #444;
      border-bottom: solid 1px #000;
      height: .5rem;
      line-height: .5rem;
      font-size: .15rem; }
      .side .nav li.active a {
        color: #fff; }
        .side .nav li.active a span {
          color: #cacaca; }
      .side .nav li a {
        display: block;
        width: 100%;
        height: 100%; }
        .side .nav li a span {
          display: inline-block;
          width: .3rem;
          height: .3rem;
          margin-left: .5rem;
          float: left;
          margin-right: .2rem;
          font-size: .18rem; }
  .side .icons {
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 100%;
    margin-left: .5rem; }
    .side .icons li {
      float: left;
      width: .5rem;
      height: .5rem;
      line-height: .5rem; }
      .side .icons li a {
        display: block;
        width: 100%;
        height: 100%; }
        .side .icons li a span {
          font-size: .18rem; }
  .side .fix-top {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: .8rem;
    background: #252736 url(http://ormfcl92t.bkt.clouddn.com/fbpXxGM2EpnGtRXj6yT5w8YhABzpDDM3.png);
    text-align: center;
    font-size: .3rem;
    line-height: .8rem; }
    .side .fix-top span {
      display: block;
      width: .8rem;
      height: .8rem;
      position: absolute;
      left: 0;
      top: 0;
      line-height: .8rem;
      text-align: center;
      font-size: .4rem; }
    .side .fix-top img {
      display: block;
      width: .6rem;
      height: .6rem;
      position: absolute;
      right: .1rem;
      top: 0;
      border-radius: 100%;
      margin-top: .1rem; }

.main {
  margin-left: 250px;
  padding: 0 .2rem;
  max-width: 1200px;
  padding-left: .3rem; }

.footer {
  margin: 0 .2rem;
  font-size: .14rem;
  line-height: .25rem;
  padding: .2rem 0;
  text-align: center;
  color: #afadad;
  margin-top: .5rem; }
  .footer a {
    color: #afadad; }

.btn {
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  line-height: 22px;
  min-width: 60px;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }
  .btn.btn-default {
    border: solid 1px #ddd;
    color: #333;
    background: #fff;
    font-size: 15px; }
  .btn.btn-main {
    border: solid 1px #3497DB;
    color: #fff;
    background: #3497DB; }
  .btn span {
    position: relative;
    z-index: 999; }
  .btn:after {
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    position: absolute;
    transition: all .3s ease; }
  .btn:hover span {
    color: #fff !important; }
  .btn:hover:after {
    width: 100%; }

.btn-detail {
  border: 1px solid #e9807b;
  color: #e9807b; }
  .btn-detail a {
    color: #e9807b; }
  .btn-detail:hover:after {
    background: #e9807b; }

.btn-edit {
  border: 1px solid #44a5de;
  color: #44a5de; }
  .btn-edit:hover:after {
    background: #44a5de; }

.btn-down {
  border: 1px solid #dea844;
  color: #dea844; }
  .btn-down:hover:after {
    background: #dea844; }

.btn-up {
  border: 1px solid #67d675;
  color: #67d675; }
  .btn-up:hover:after {
    background: #67d675; }

.h1 {
  font-size: 18px;
  margin-bottom: .15rem; }

#editor .w-e-text h1, #describes .w-e-text h1 {
  font-size: .22rem; }

#editor .w-e-text h2, #describes .w-e-text h2 {
  font-size: .2rem; }

#editor .w-e-text h3, #describes .w-e-text h3 {
  font-size: .18rem; }

#editor .w-e-text h4, #describes .w-e-text h4 {
  font-size: .16rem; }

#editor .w-e-text h5, #describes .w-e-text h5 {
  font-size: .14rem; }

#editor .w-e-text ol li, #describes .w-e-text ol li {
  list-style: decimal; }

#editor .w-e-text ul li, #describes .w-e-text ul li {
  list-style: disc; }

@media (max-width: 768px) {
  .side {
    margin-left: -250px;
    transition: width .5s; }
    .side .top .logo {
      width: 2rem;
      height: 2rem;
      margin-top: .4rem; }
    .side .top .name {
      font-size: .25rem;
      margin-top: .2rem; }
    .side .top .text {
      font-size: .18rem; }
    .side .nav {
      margin-top: .2rem; }
      .side .nav li {
        height: 1rem;
        line-height: 1rem;
        font-size: .25rem; }
        .side .nav li a span {
          width: .3rem;
          height: .3rem;
          margin-left: 1rem;
          margin-right: .3rem;
          font-size: .3rem; }
    .side .icons {
      margin-left: .5rem; }
      .side .icons li {
        width: .8rem;
        height: .8rem;
        line-height: .8rem; }
        .side .icons li a span {
          font-size: .25rem; }
    .side .fix-top {
      display: block; }
  .main {
    margin-left: 0px;
    margin-top: 1rem;
    padding-left: .2rem; }
  .sideSlideShow {
    animation: sideShowSlide .5s;
    animation-fill-mode: forwards; }
  .navSlideShow {
    animation: navShowSlide .5s;
    animation-fill-mode: forwards; }
  .sideSlideHide {
    animation: sideHideSlide .5s;
    animation-fill-mode: forwards; }
  .navSlideHide {
    animation: navHideSlide .5s;
    animation-fill-mode: forwards; } }

@keyframes sideShowSlide {
  from {
    margin-left: -250px; }
  to {
    margin-left: 0; } }

@keyframes sideHideSlide {
  from {
    margin-left: 0px; }
  to {
    margin-left: -250px; } }

@keyframes navShowSlide {
  from {
    margin-left: 0; }
  to {
    margin-left: 250px; } }

@keyframes navHideSlide {
  from {
    margin-left: 250px; }
  to {
    margin-left: 0px; } }
