html, body {
  background: #fff; }

.main .detail {
  padding-top: .3rem; }
  .main .detail h1.h1 {
    font-size: .35rem; }
    .main .detail h1.h1 .fr {
      font-size: 13px; }
      .main .detail h1.h1 .fr span {
        display: block; }
        .main .detail h1.h1 .fr span:nth-child(1) {
          margin-top: .02rem;
          margin-bottom: .05rem; }
    .main .detail h1.h1 .title {
      display: inline-block; }
  .main .detail .context {
    margin: .3rem 0;
    font-size: 16px;
    line-height: 35px; }
    .main .detail .context h1 {
      font-size: 22px;
      margin: 15px 0;
      font-weight: bold; }
    .main .detail .context h2 {
      font-size: 20px;
      margin: 12px 0;
      font-weight: bold; }
    .main .detail .context h3 {
      font-size: 18px;
      margin: 10px 0;
      font-weight: bold; }
    .main .detail .context h4 {
      font-size: 16px;
      margin: 8px 0;
      font-weight: bold; }
    .main .detail .context h5 {
      font-size: 14px;
      margin: 8px 0;
      font-weight: bold; }
    .main .detail .context ol {
      margin-left: .3rem; }
      .main .detail .context ol li {
        list-style: decimal; }
    .main .detail .context ul {
      margin-left: .3rem; }
      .main .detail .context ul li {
        list-style: disc; }
    .main .detail .context p, .main .detail .context li {
      margin: 10px 0; }
    .main .detail .context table {
      width: 100%;
      font-size: 13px;
      line-height: 25px;
      border-top: solid 1px #ddd;
      border-right: solid 1px #ddd; }
      .main .detail .context table th, .main .detail .context table td {
        padding: 3px 8px;
        border-left: solid 1px #ddd;
        border-bottom: solid 1px #ddd; }
      .main .detail .context table tr:nth-child(2n) {
        background: #f6f8fa; }
  .main .detail .dasang {
    overflow: hidden;
    margin: .3rem 0 .2rem;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: .2rem 0; }
    .main .detail .dasang button {
      padding: 15px 50px;
      background: red;
      border: solid 1px red;
      display: block;
      margin: 0 auto;
      color: #fff;
      font-size: 20px;
      border-radius: 30px;
      cursor: pointer; }
      .main .detail .dasang button:hover {
        background: #f35555;
        color: #e0bbbb; }
    .main .detail .dasang .model-mask {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 100000;
      display: none; }
    .main .detail .dasang .model-dasang {
      width: 46%;
      max-width: 520px;
      height: 5.8rem;
      border: 1px solid #e9e9e9;
      box-shadow: 0 0 5px #999;
      background: #fff;
      padding: .2rem;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 100001;
      text-align: center;
      display: none; }
      .main .detail .dasang .model-dasang h1 {
        font-size: .25rem;
        text-align: center;
        position: relative;
        line-height: .35rem; }
        .main .detail .dasang .model-dasang h1 span {
          position: absolute;
          right: .2rem;
          top: 0px;
          font-size: .3rem;
          cursor: pointer; }
      .main .detail .dasang .model-dasang h2 {
        font-size: .16rem;
        color: #c1c1c1;
        margin-top: .1rem; }
      .main .detail .dasang .model-dasang .pay-img img {
        width: 3rem;
        height: 3rem; }
      .main .detail .dasang .model-dasang .pay-img .zfb {
        display: none; }
      .main .detail .dasang .model-dasang .chose-type {
        overflow: hidden; }
        .main .detail .dasang .model-dasang .chose-type .item {
          display: inline-block; }
          .main .detail .dasang .model-dasang .chose-type .item input {
            margin-right: .1rem;
            float: left;
            margin-top: .15rem; }
          .main .detail .dasang .model-dasang .chose-type .item span {
            float: left;
            font-size: .3rem; }
            .main .detail .dasang .model-dasang .chose-type .item span.wx {
              margin-right: .3rem; }
      .main .detail .dasang .model-dasang .tixing {
        margin-top: .1rem; }
        .main .detail .dasang .model-dasang .tixing h4 {
          font-size: .16rem;
          margin-bottom: .1rem; }
        .main .detail .dasang .model-dasang .tixing h5 {
          font-size: .12rem;
          color: #d6d6d6; }
  .main .detail .info {
    font-size: 14px;
    font-style: italic;
    color: #999; }
  .main .detail .comment {
    overflow: hidden;
    margin-top: .3rem;
    border-bottom: solid 1px #f9f9f9; }
    .main .detail .comment pre {
      display: block;
      width: 100%;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 20px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      white-space: pre-wrap;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px; }
      .main .detail .comment pre code {
        color: #000;
        padding: 0;
        border: none;
        background: none;
        margin: 0; }
    .main .detail .comment h1 {
      font-size: .35rem;
      margin-bottom: .3rem; }
    .main .detail .comment .item {
      line-height: .3rem;
      overflow: hidden;
      border-top: solid 1px #f9f9f9;
      padding: 10px 0;
      position: relative; }
      .main .detail .comment .item img.people {
        position: absolute;
        left: 0;
        top: 8px;
        width: .3rem;
        height: .3rem;
        float: left;
        margin-right: .2rem; }
      .main .detail .comment .item div.text {
        margin-left: .5rem;
        font-size: 14px; }
        .main .detail .comment .item div.text img {
          max-height: 2rem !important; }
        .main .detail .comment .item div.text > * {
          float: left; }
        .main .detail .comment .item div.text > .default {
          float: none; }
      .main .detail .comment .item span {
        display: inline-block;
        color: #aaa;
        font-size: 13px;
        margin-left: .2rem; }
    .main .detail .comment .subComment {
      overflow: hidden;
      margin: 20px 0; }
      .main .detail .comment .subComment .captcha {
        margin-right: .2rem; }
      .main .detail .comment .subComment .btn {
        background: #000;
        font-size: 16px;
        padding: 10px .5rem; }

@media (max-width: 768px) {
  .main .detail {
    padding-left: 0; }
    .main .detail h1.h1 {
      font-size: .35rem;
      overflow: hidden; }
      .main .detail h1.h1 .fr {
        float: left; }
        .main .detail h1.h1 .fr span {
          display: inline-block;
          color: #999; }
      .main .detail h1.h1 .title {
        display: block; }
    .main .detail .dasang .model-dasang {
      width: 80%;
      height: 7.2rem; }
      .main .detail .dasang .model-dasang h1 {
        font-size: .4rem; }
        .main .detail .dasang .model-dasang h1 span {
          font-size: .4rem; }
      .main .detail .dasang .model-dasang h2 {
        font-size: .2rem;
        margin-top: .2rem; }
      .main .detail .dasang .model-dasang .pay-img img {
        width: 3.5rem;
        height: 3.5rem; }
      .main .detail .dasang .model-dasang .chose-type .item input {
        margin-top: .25rem; }
      .main .detail .dasang .model-dasang .chose-type .item span {
        font-size: .5rem; }
      .main .detail .dasang .model-dasang .tixing h4 {
        font-size: .25rem; } }
