html, body {
  background: #fff; }

.main .detail {
  padding-left: .2rem;
  padding-top: .3rem; }
  .main .detail h1.h1 {
    font-size: .35rem; }
    .main .detail h1.h1 div {
      font-size: 13px; }
      .main .detail h1.h1 div span {
        display: block; }
        .main .detail h1.h1 div span:nth-child(1) {
          margin-top: .02rem;
          margin-bottom: .05rem; }
  .main .detail .context {
    margin: .3rem 0;
    font-size: 16px;
    line-height: 35px; }
    .main .detail .context pre {
      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 20px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      white-space: pre-wrap;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px; }
      .main .detail .context pre code {
        color: #000;
        padding: 0;
        border: none;
        background: none;
        margin: 0; }
    .main .detail .context h1 {
      font-size: 22px;
      margin: 15px 0;
      font-weight: bold; }
    .main .detail .context h2 {
      font-size: 20px;
      margin: 12px 0;
      font-weight: bold; }
    .main .detail .context h3 {
      font-size: 18px;
      margin: 10px 0;
      font-weight: bold; }
    .main .detail .context h4 {
      font-size: 16px;
      margin: 8px 0;
      font-weight: bold; }
    .main .detail .context p, .main .detail .context li {
      margin: 10px 0; }
  .main .detail .dasang {
    overflow: hidden;
    margin: .3rem 0 .2rem;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: .2rem 0; }
    .main .detail .dasang button {
      padding: 15px 50px;
      background: red;
      border: solid 1px red;
      display: block;
      margin: 0 auto;
      color: #fff;
      font-size: 20px;
      border-radius: 30px; }
      .main .detail .dasang button:hover {
        background: #f35555;
        color: #e0bbbb; }
  .main .detail .info {
    font-size: 14px;
    font-style: italic;
    color: #999; }
  .main .detail .comment {
    overflow: hidden;
    margin-top: .3rem;
    border-bottom: solid 1px #f9f9f9; }
    .main .detail .comment pre {
      display: block;
      width: 100%;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 20px;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      white-space: pre-wrap;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px; }
      .main .detail .comment pre code {
        color: #000;
        padding: 0;
        border: none;
        background: none;
        margin: 0; }
    .main .detail .comment h1 {
      font-size: .35rem;
      margin-bottom: .3rem; }
    .main .detail .comment .item {
      line-height: .3rem;
      overflow: hidden;
      border-top: solid 1px #f9f9f9;
      padding: 10px 0;
      position: relative; }
      .main .detail .comment .item img {
        position: absolute;
        left: 0;
        top: 8px;
        width: .3rem;
        height: .3rem;
        float: left;
        margin-right: .2rem; }
      .main .detail .comment .item div.text {
        margin-left: .5rem;
        font-size: 14px; }
        .main .detail .comment .item div.text > * {
          float: left; }
        .main .detail .comment .item div.text > .default {
          float: none; }
      .main .detail .comment .item span {
        display: inline-block;
        color: #aaa;
        font-size: 13px;
        margin-left: .2rem; }
    .main .detail .comment .subComment {
      overflow: hidden;
      margin: 20px 0; }
      .main .detail .comment .subComment .captcha {
        margin-right: .2rem; }
      .main .detail .comment .subComment .btn {
        background: #000;
        font-size: 16px;
        padding: 10px .5rem; }

@media (max-width: 768px) {
  .main .detail {
    padding-left: 0; }
    .main .detail h1.h1 {
      font-size: .35rem;
      overflow: hidden; }
      .main .detail h1.h1 div {
        float: left; }
        .main .detail h1.h1 div span {
          display: inline-block;
          color: #999; } }
