<%- include("./side.html") %>
<link rel="stylesheet" href="/css/front-onepage.css">
<div class="main" id="main">
	<div id="pageId" style="display:none"><%= datas.aboutme.id %></div>
	<h1>关于</h1>
	<div class="about">
		<%- datas.aboutme.pageText %>
	</div>

	<!-- 评论相关 -->
	<div class="comment">
		<h1>评论</h1>
		<div id="editor"></div>
		<div class="subComment">
			<!-- 评论验证 -->
			<div id="captcha" class="fl captcha">
	            <p id="wait" class="show">正在加载验证码......</p>
	        </div>
	        <div id="btn" class="fl btn">提交</div>
        </div>
        <!-- 评论验证结束 -->

		<div class="comment" id="commenttext">
			<% datas.commentlist.forEach(function(item,index) {%> 
			<div class="item">
				<img class="people" src="/images/index/0<%= index%5+1 %>.jpg">
				<div class="text"><%- item.text %>  <span class="default"><%= item.createTime %></span></div>
			</div>
			<%})%>
			<div class="item" style="display:none"></div>
		</div>
	</div>
	
</div>
<%- include("./footer.html") %>
<script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="/js/gt.js"></script>
<script src="/js/front-about.js"></script>
