<%- include("./side.html") %>
<link rel="stylesheet" href="/css/front-detail.css">
<div class="main" id="main">
	<div id="articleId" style="display:none"><%= datas.id %></div>
	<div class="detail">
		<h1 class="h1">
			<div class="title"><%= datas.detail.title %></div>
			<div class="fr">
				<span><%= datas.detail.monthTime %></span>
				<span><i id="browse-number"><%= datas.detail.browse+1 %></i>&nbsp;browse</span>
			</div>
		</h1>
		<div class="context">
			<%- datas.detail.text %>
		</div>
		<div class="info">
			博主 <code><%= datas.detail.author %></code>  
			发表于 <%= datas.detail.classTime %>,添加在了 
			<a href="/search?tagid=<%= datas.detail.tagid%>">
				<code class="mainlink"><%= datas.detail.tagname %></code>
			</a>标签下
		</div>
		<div class="dasang" id="dasang">
			<button id="dasang-btn">打赏</button>
			<!-- 打赏正文 -->
			<div class="model-mask"></div>
			<div class="model-dasang">
				<h1>打赏 <span class="close iconfont">&#xe601;</span></h1>
				<h2>您的支持将鼓励我继续努力与分享。</h2>
				<div class="pay-img" id="tab-pay-img">
					<img class="wx" src="/images/common/wx.jpg">
					<img class="zfb" src="/images/common/zfb.jpg">
				</div>
				<div class="chose-type" id="tab-chose-type">
					<div class="item">
						<label>
							<input type="radio" checked="true" name="pay-type">
							<span class="iconfont wx">&#xe6b0;</span>
						</label>
					</div>
					<div class="item">
						<label>
							<input type="radio" name="pay-type">
							<span class="iconfont zfb">&#xe6cf;</span>
						</label>
					</div>
				</div>
				<div class="tixing">
					<h4>扫码打赏，建议金额1-10元</h4>
					<h5>提醒：打赏金额将直接进此方账号，无法退款，请您谨慎操作。</h5>
				</div>		
			</div>
		</div>
		<div class="comment">
			<h1>评论</h1>
			<div id="editor"></div>
			<div class="subComment">
				<!-- 评论验证 -->
				<div id="captcha" class="fl captcha">
		            <p id="wait" class="show">正在加载验证码......</p>
		        </div>
		        <div id="btn" class="fl btn">提交</div>
	        </div>
	        <!-- 评论验证结束 -->

			<div class="comment" id="commenttext">
				<% datas.commentlist.forEach(function(item,index) {%> 
				<div class="item">
					<img class="people" src="/images/index/0<%= index%5+1 %>.jpg">
					<div class="text"><%- item.text %>  <span class="default"><%= item.createTime %></span></div>
				</div>
				<%})%>
				<div class="item" style="display:none"></div>
			</div>
		</div>
	</div>
</div>
<%- include("./footer.html") %>
<script src="//cdn.bootcss.com/wangEditor/3.0.8/wangEditor.min.js"></script>
<script src="/js/gt.js"></script>
<script src="/js/front-detail.js"></script>
