<%- include("./side.html") %>
<link rel="stylesheet" href="/css/front-detail.css">
<div class="main" id="main">
	<div class="detail">
		<h1 class="h1">
			<%= datas.detail.title %>
			<div class="fr">
				<span><%= datas.detail.monthTime %></span>
				<span><%= datas.detail.browse %> browse</span>
			</div>
		</h1>
		<div class="context">
			<%- datas.detail.text %>
		</div>
		<div class="info">
			博主 <code><%= datas.detail.author %></code>  发表于 <%= datas.detail.classTime %>,添加在了 <a href=""><code><%= datas.detail.tagname %></code></a>标签下
		</div>
		<div class="dasang">
			<button>打赏</button>
		</div>
		<div class="comment">
			<h1>评论</h1>
			<div class="comment">
				<div class="item">
					<img src="/images/index/me.jpg">
					<p>这里是我的评论</p>
					<span>2017-05-03</span>
				</div>
				<div class="item">
					<img src="/images/index/me.jpg">
					<p>这里是我的评论</p>
					<span>2017-05-03</span>
				</div>
				<div class="item">
					<img src="/images/index/me.jpg">
					<p>这里是我的评论</p>
					<span>2017-05-03</span>
				</div>
			</div>
		</div>
	</div>
	
</div>
<%- include("./footer.html") %>

