<div class="header" id="header" >
	<dl>
		<dt>
			<a href="/" class="f_left">微分享</a>
		</dt>
		<ul class="nav" id="nav-checkout">
			<li><a href="/" title="">首页</a></li>
			<li><a href="/list" title="">视频列表</a></li>
		</ul>

		<div class="search">
			<input type="text" id="searchtext" placeholder="node.js react.js">
			<a href="javascript:" type="button" id="searchGoods"></a>
		</div>

		<!-- <dd>
			<span class="inline-block mr20">
				<a :href="'/userDetail?id='+userMsg.id">
					<img :src="userMsg.userImg|imgBaseUrl" >{{userMsg.nickname||userMsg.username}}
				</a>
			</span>
			<label class=" addtop-btn">
				<a href="/push"><span  class="iconfont mr20 cursor addicon">&#xe674;</span></a>
			</label>
			<label class="more-user addtop-btn">
				<a href="/userList"><span class="iconfont mr20 cursor addicon">&#xe6e0;</span></a>
			</label>
			<label class="wiki addtop-btn">
				<a href="/wiki"><span class="iconfont mr20 cursor addicon">&#xe676;</span></a>
			</label>
			<label @click="loginout" class="iconfont loginouticon cursor">&#xe618;</label>
		</dd> -->
	</dl>
</div>

<script>
$(function(){
	$('#searchtext').val(util.getQueryString('searchtext'))
	$('#searchGoods').click(function(){
		let searchtext = $('#searchtext').val()
		location.href="/list/search?searchtext="+searchtext
	});
})
</script>
