<%- include("./header.html") %>
<!-- 样式 -->
<link rel="stylesheet" href="/css/front-home.css">
<link rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
<div class="main" id="home" >
	<!-- banner -->
	<div class="swiper-container">
	  	<div class="swiper-wrapper">
	  		<% datas.bannerList.forEach(function (item) {%>    
	    		<div class="swiper-slide"><a href="/list/detail?id=<%= item.id %>"><img src="<%= datas.imgBase+item.bannerImg %>"></a></div>
	    	<% })%>
	  	</div>
	  	<div class="swiper-pagination"></div>
	</div>
	<!-- 推荐 -->
	<div class="block tuijian">
		<h1>课程推荐</h1>
		<ul class="content">
	        <% datas.recomList.forEach(function (item) {%>    
			<li>
				<div class="top">
					<a href="/list/detail?id=<%= item.id %>"><img src="<%= datas.imgBase+item.mainimg %>"></a>
					<div class="positon">
						<span class="sp1" style="display:<%- item.tagName?'inline-block':'none' %>"><%= item.tagName %></span>
						<span class="sp2" style="display:<%- item.categoryName?'inline-block':'none' %>"><%= item.categoryName %></span>
					</div>
				</div>
				<div class="bottom">
					<h1><a href="/list/detail?id=<%= item.id %>"><%= item.title %></a></h1>
					<div class="biaoqian">
						<span><%= item.difficulty %></span>
						<span class="fr"><%= item.category %></span>
					</div>
					<div class="price">
						<span class="now">¥<%= item.newprice %></span>
						<span style="display:<%- item.oldprice?'inline-block':'none' %>" class="old">¥<%= item.oldprice %></span>
					</div>
				</div>
			</li>
			<% })%>
		</ul>
	</div>
	<!-- 最新 -->
	<div class="block zuixin">
		<h1>最新上架</h1>
		<ul class="content">
	        <% datas.newList.forEach(function (item) {%>    
			<li>
				<div class="top">
					<a href="/list/detail?id=<%= item.id %>"><img src="<%= datas.imgBase+item.mainimg %>"></a>
					<div class="positon">
						<span class="sp1" style="display:<%- item.tagName?'inline-block':'none' %>"><%= item.tagName %></span>
						<span class="sp1" style="display:<%- item.categoryName?'inline-block':'none' %>"><%= item.categoryName %></span>
					</div>
				</div>
				<div class="bottom">
					<h1><a href="/list/detail?id=<%= item.id %>"><%= item.title %></a></h1>
					<div class="biaoqian">
						<span><%= item.difficulty %></span>
						<span class="fr"><%= item.category %></span>
					</div>
					<div class="price">
						<span class="now">¥<%= item.newprice %></span>
						<span style="display:<%- item.oldprice?'inline-block':'none' %>" class="old">¥<%= item.oldprice %></span>
					</div>
				</div>
			</li>
			<% })%>
		</ul>
	</div>
</div>
<script src="//cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="/js/front-home.js"></script>
<%- include("./footer.html") %>