html,body{
    background:#fff;
}
.main{
    // 分类
    h1{
        font-size:.3rem;
        margin-top:.3rem;
    }
    .block{
        margin-top:.2rem;
        h2{
            font-size:.2rem;
            margin-bottom:.1rem;
        }
        li{
            line-height:.25rem;
            font-size:.16rem;
            list-style:disc;
            margin-left:.2rem;
            color: #2479CC;
            span{
                margin-left:.3rem;
                color:#ccc;
                font-size:.14rem;
            }
        }
    }
    // 搜索列表页
    .search{
        overflow:hidden;
        margin:.2rem 0;
        input{
            height:.5rem;
            width:5rem;
            float:left;
            padding-left:.15rem;
            font-size:.22rem;
        }
        button{
            border:solid 1px #2479CC;
            background:#2479CC;
            color:#fff;
            height:.5rem;
            padding:0 .3rem;
            font-size:.22rem;
            float:left;
            cursor:pointer;
        }
    }
}

@media (max-width: 768px) {
    .main{
        h1{
            font-size:.5rem;
        }
        .block{
            margin-top:.3rem;
            h2{
                font-size:.35rem;
                margin-bottom:.3rem;
            }
            li{
                margin-left:.35rem;
                font-size:.3rem;
                line-height:.45rem;
                width:100%;
                white-space:nowrap;
                text-overflow:ellipsis;
                span{
                    display:none;
                }
            }
        }
    }
}


