.main{
    .block{
        background:#fff;
        overflow:hidden;
        margin-top:.3rem;
        padding:0 .2rem;
        border:solid 1px #eee;
        h1{
            font-size:.35rem;
            height:1rem;
            line-height:1rem;
            border-bottom:solid 1px #ddd;
            .right{
                font-size:.14rem;
                span{
                    margin-left:.1rem;
                    color:#c1c1c1;
                }
            }
        }
        .text{
            font-size:.16rem;
            line-height:.35rem;
            padding:.2rem 0;
            color:#666;
        }
        .bottom{
            border-top:solid 1px #ddd;
            line-height:.6rem;
            font-size:.16rem;
            .iconfont{
                font-size:.25rem;
                margin-right:.1rem;
            }
            a.tag{
                padding:.08rem .1rem;
                background:#f4615e;
                color:#fff;
                margin-left:.1rem;
            }
            a.pl{
                color:#afadad;
            }
        }

    }
}

@media (max-width: 768px) {
    .main{
        .block{
            .text{
                font-size:.25rem;
                line-height:.45rem;
            }
        }
    }
}


