//main 
html,body{
    background:#fff;
}
.main{
    .detail{
        padding-top:.3rem;
        h1.h1{
        	font-size:.35rem;
        	div{
        		font-size:13px;
        		span{
        			display:block;
        			&:nth-child(1){
        				margin-top:.02rem;
        				margin-bottom:.05rem;
        			}
        		}
        	}
        }
        .context{
        	margin:.3rem 0;
        	font-size:16px;
        	line-height:35px;
            pre{
                display: block;
                padding: 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                line-height: 20px;
                word-break: break-all;
                word-wrap: break-word;
                white-space: pre;
                white-space: pre-wrap;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border: 1px solid rgba(0,0,0,0.15);
                border-radius: 4px;
                code{
                    color:#000;
                    padding: 0;
                    border: none;
                    background:none;
                    margin: 0;
                }
            }
        	h1{
        		font-size:22px;
        		margin:15px 0;
        		font-weight:bold;
        	}
        	h2{
        		font-size:20px;
        		margin:12px 0;
        		font-weight:bold;
        	}
        	h3{
        		font-size:18px;
        		margin:10px 0;
        		font-weight:bold;
        	}
        	h4{
        		font-size:16px;
        		margin:8px 0;
        		font-weight:bold;
        	}
            h5{
                font-size:14px;
                margin:8px 0;
                font-weight:bold;
            }
            ol{
                margin-left: .3rem;
                li{
                    list-style:decimal;
                } 
            }
            ul{
                margin-left: .3rem;
                li{
                    list-style:disc;
                }
            }
        	p,li{
        		margin:10px 0;
        	}
        }
        .dasang{
        	overflow:hidden;
        	margin:.3rem 0 .2rem;
        	border-top:solid 1px #eee;
        	border-bottom:solid 1px #eee;
        	padding:.2rem 0;
        	button{
        		padding:15px 50px;
        		background:red;
        		border:solid 1px red;
        		display:block;
        		margin:0 auto;
        		color:#fff;
        		font-size:20px;
        		border-radius:30px;
                cursor:pointer;
        		&:hover{
        			background:#f35555;
        			color:#e0bbbb;
        		}
        	}
            .model-mask{
                position:fixed;
                left:0;
                top:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,.8);
                z-index:100000;
                display:none;
            }
            .model-dasang{
                width: 46%;
                max-width:520px;
                height:5.8rem;
                border: 1px solid #e9e9e9;
                box-shadow: 0 0 5px #999;
                background: #fff;
                padding: .2rem;
                position:fixed;
                left:0;
                top:0;
                right:0;
                bottom:0;
                margin:auto;
                z-index:100001;
                text-align:center;
                display:none;
                h1{
                    font-size:.25rem;
                    text-align:center;
                    position:relative;
                    line-height:.35rem;
                    span{
                        position:absolute;
                        right:.2rem;
                        top:0px;
                        font-size:.3rem;
                        cursor:pointer;
                    }
                }
                h2{
                    font-size:.16rem;
                    color:#c1c1c1;
                    margin-top:.1rem;
                }
                .pay-img{
                    img{
                        width:3rem;
                        height:3rem;
                    }
                    .zfb{display:none;}
                }
                .chose-type{
                    overflow:hidden;
                    .item{
                        display:inline-block;
                        input{
                            margin-right:.1rem;
                            float:left;
                            margin-top:.15rem;
                        }
                        span{
                            float:left;
                            font-size:.3rem;
                            &.wx{
                                margin-right:.3rem;
                            }
                            &.zfb{
                            }
                        }
                    }
                }
                .tixing{
                    margin-top:.1rem;
                    h4{
                        font-size:.16rem;
                        margin-bottom:.1rem;
                    }
                    h5{
                        font-size:.12rem;
                        color:#d6d6d6;
                    }
                }
            }
        }
        .info{
        	font-size:14px;
        	font-style: italic;
        	color:#999;
        }
        // 评论
    	.comment{
	        overflow:hidden;
	        margin-top:.3rem;
	        border-bottom:solid 1px #f9f9f9;
            pre{
                display: block;
                width:100%;
                padding: 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                line-height: 20px;
                word-break: break-all;
                word-wrap: break-word;
                white-space: pre;
                white-space: pre-wrap;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border: 1px solid rgba(0,0,0,0.15);
                border-radius: 4px;
                code{
                    color:#000;
                    padding: 0;
                    border: none;
                    background:none;
                    margin: 0;
                }
            }
	        h1{
	        	font-size:.35rem;
                margin-bottom:.3rem;
	        }
	        .item{
	            line-height:.3rem;
	            overflow:hidden;
	            border-top:solid 1px #f9f9f9;
	            padding:10px 0;
                position:relative;
	            img.people{
                    position:absolute;
                    left:0;
                    top:8px;
	                width:.3rem;
	                height:.3rem;
	                float:left;
	                margin-right:.2rem;
	            }
	            div.text{
                    margin-left:.5rem;
                    font-size:14px;
                    img{
                        max-height:2rem!important;
                    }
                    &>*{
                        float:left;
                    }
                    &>.default{
                        float:none;
                    }
	            }
	            span{
	                display:inline-block;
	                color:#aaa;
	                font-size:13px;
                    margin-left:.2rem;
	            }
	        }
            .subComment{
                overflow:hidden;
                margin:20px 0;
                .captcha{
                    margin-right:.2rem;
                }
                .btn{
                    background:#000;
                    font-size:16px;
                    padding: 10px .5rem;
                }
            }
    	}

    }
    
}

@media (max-width: 768px) {
    .main{
    	.detail{
    		padding-left:0;
    		h1.h1{
        		font-size:.35rem;
        		overflow:hidden;
	        	div{
	        		float:left;
	        		span{
	        			display:inline-block;
	        			color:#999;
	        		}
	        	}
        	}
            .dasang{
               .model-dasang{
                    width: 80%;
                    height:7.2rem;
                    h1{
                        font-size:.4rem;
                        span{
                            font-size:.4rem;
                        }
                    }
                    h2{
                        font-size:.2rem;
                        margin-top: .2rem;
                    }
                    .pay-img{
                        img{
                            width:3.5rem;
                            height:3.5rem;
                        }
                    }
                    .chose-type{
                        .item{
                            input{
                                margin-top:.25rem;
                            }
                            span{
                                font-size:.5rem;
                            }
                        }
                    }
                    .tixing{
                        h4{
                            font-size:.25rem;
                        }
                    }
                } 
            }
    	}
    }
}





